.container {
  white-space: nowrap;

  &.active {
    color: white;

    &:hover td {
      color: white;
    }

    & td.title {
      color: var(--bs-primary);
    }
  }

  td {
    max-width: 100px;
  }
}
